{template header}
    <section id="about-us">
        <div class="container">
			<div class="center wow fadeInDown">
				<h2>About OecanWind MEDIA</h2>
				<p class="lead">安徽海洋风文化传媒股份有限公司</p>
			</div>
			
			<!-- about us slider -->
			<div id="about-slider">
				<div id="carousel-slider" class="carousel slide" data-ride="carousel">
					<!-- Indicators -->
				  	<ol class="carousel-indicators visible-xs">
					    <li data-target="#carousel-slider" data-slide-to="0" class="active"></li>
					    <li data-target="#carousel-slider" data-slide-to="1"></li>
					    <li data-target="#carousel-slider" data-slide-to="2"></li>
				  	</ol>

					<div class="carousel-inner">
						<div class="item active">
							<img src="statics/images/slider_one.jpg" class="img-responsive" alt=""> 
					   </div>
					   <div class="item">
							<img src="statics/images/slider_two.jpg" class="img-responsive" alt=""> 
					   </div> 
					   <div class="item">
							<img src="statics/images/slider_three.jpg" class="img-responsive" alt=""> 
					   </div> 
					</div>
					
					<a class="left carousel-control hidden-xs" href="#carousel-slider" data-slide="prev">
						<i class="fa fa-angle-left"></i> 
					</a>
					
					<a class=" right carousel-control hidden-xs"href="#carousel-slider" data-slide="next">
						<i class="fa fa-angle-right"></i> 
					</a>
				</div> <!--/#carousel-slider-->
			</div><!--/#about-slider-->
			
			
			<!-- Our Skill -->
			<div class="skill-wrap clearfix">
			
				
				
				<div class="row aboutus">
		        <p>徽海洋风文化传媒股份有限公司，中国一级广告企业，“新三板”上市公司。公司成立于2004年，注册资本688万，地址在马鞍山市佳山路太阳广场阳光大厦，员工50余人，主要从事环境艺术和企业形象等设计、制作，代理发布各类广告和销售房地产及推广新产品，活动组织策划，研发销售计算机软件等电子产品，互联网信息服务，网络建设，影视制作等。</p>
<p>本着“创一流团队，建一流企业”的宗旨、“诚信经营，谋求双赢”的工作准则、“做强、做大、做百年”的奋斗目标。公司引贤聚能广纳四方人才，严格管理培训夯实创业基础，外诚信和谐共事：内严谨凝心聚力；踏踏实实、与时俱进，保证公司的凝聚力和员工的向心力不断增强，企业的综合素质和影响力不断提高，发展空间不断延伸。</p>
<p>公司已拥有“中国著名品牌策划机构”等5项国字号荣誉资质，有4人获得“中国十大广告传媒策划专家”等国字号专家称号，公司被授予区级纳税贡献企业、市级诚信民营企业、省级守合同重信用先进单位、全国诚信企业创建单位等区级至国家级先进荣誉称号50余项。</p>
<p> 公司现为省广协、省策协、省个协、省民营文企协四个协会副会长单位。</p>
<p>公司的信誉和业绩得到客户与社会和政府的认可和肯定。</p>
<p>海洋风文化传媒公司具备在国内业界承揽各项业务的基础和实力。</p>
<p>公司发展过程中，中广协、安徽江苏两省的宣传、文化、工商等有关部门、市委市政府五大领导班子及有关部门领导、江苏新华报业集团、扬子晚报、南京日报、南京晨报、金陵晚报等单位领导、区委区政府领导都给予了关心，并多次莅临我公司检查指导工作。</p>
<p>企业发展了，没有忘记感恩和回馈社会。海洋风公司积极支持文明城市建设和参与公益慈善事业工作，公司每年从代理的报纸广告版中，拿出400余个版面和市府有关部门的合作，进行新闻报道、支持文明城市建设、展示行业和劳动者风采。公司每年投入数十万元订送数千份全年度报纸暨向无偿送学校、企业、乡镇、开发园区和政府机关。积极参加向灾区和慈善协会等组织和困难群体的捐款活动。</p>
<p>客户与社会和政府哺育海洋风公司，信任和关怀激励着企业，教导和要求鼓舞着员工，“海洋风正一帆悬”，向往着美好愿景，海洋风人在不断耕耘，拼搏进取。</p>
				
					
				</div>
	
            </div><!--/.our-skill-->
			

			<!-- our-team -->
			<div class="team">
				<div class="center wow fadeInDown">
					<h2>Team of  OecanWind</h2>
					<p class="lead">         安徽海洋风文化传媒股份有限公司，中国一级广告企业，新三板上市公司。公司三位董事分别荣膺中国十大广告传媒策划、广告设计、房地产策划、营销等四个国字号专家称号。</p>
				</div>

				<div class="row clearfix">
					<div class="col-md-4 col-sm-6">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="statics/images/man1.jpg" alt=""></a>
								</div>
								<div class="media-body">
									<h4>陈海风</h4>
									<h5>董事长</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">男</a></li>
										<li class="btn"><a href="#">汉族</a></li>
										<li class="btn"><a href="#">1958年</a></li>
										<li class="btn"><a href="#">研究生硕士学位</a></li>
									</ul>
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p>安徽海洋风文化传媒股份有限公司，董事长安徽个体私营经济协会副会长,安徽文化产业促进会副会长,安徽广告协会副会长,马鞍山市广告协会常务副会长,马鞍山市文化产业促进会常务副会长</p>
						</div>
					</div><!--/.col-lg-4 -->
					
					
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-top wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="300ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="statics/images/man2.jpg" alt=""></a>
								</div>
								<div class="media-body">
									<h4>陈海鸣</h4>
									<h5>党支部书记</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">男</a></li>
										<li class="btn"><a href="#">1960年</a></li>
										<li class="btn"><a href="#">中共党员</a></li>										
										<li class="btn"><a href="#">研究生硕士学位</a></li>
									</ul>
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p>1983年1月—1996年10月 马鞍山钢铁公司自动化部自动化车间副主任，1996年11月—2001年5月  马鞍山市金海保龄球馆，大世界保龄球馆总经理，2001年6月—2004年11月  香港兴东辉智能仪器有限公司总经理，2004年12月—至今 创办经营安徽海洋风广告传媒有限公司，总经理、党支部书记，安徽海洋风文化传媒股份有限公司，副总经理</p>
						</div>
					</div><!--/.col-lg-4 -->					
				</div> <!--/.row -->
				<div class="row team-bar">
					<div class="first-one-arrow hidden-xs">
						<hr>
					</div>
					<div class="first-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="second-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
					<div class="third-arrow hidden-xs">
						<hr> <i class="fa fa-angle-up"></i>
					</div>
					<div class="fourth-arrow hidden-xs">
						<hr> <i class="fa fa-angle-down"></i>
					</div>
				</div> <!--skill_border-->       

				<div class="row clearfix">   
					<div class="col-md-4 col-sm-6 col-md-offset-2">	
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="statics/images/man3.jpg" alt=""></a>
								</div>

								<div class="media-body">
									<h4>陈海阳</h4>
									<h5>总经理</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">男</a></li>
										<li class="btn"><a href="#">1963年</a></li>
										<li class="btn"><a href="#">教师</a></li>
										<li class="btn"><a href="#">研究生</a></li>
									</ul>
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p>1985年7月—1988年9月,市十四中,教师,1988年9月—1990年7月,十七冶广告装饰公司,经理助理,1990年7月—2004年11月,十七冶技术学校,教师,2004年12月—至今,         安徽海洋风广告传媒有限公司,执行总经理、总经理,安徽海洋风文化传媒股份有限公司,总经理, 马鞍山扬子广告传媒有限公司,法人代表,                                          （2013年11月份起兼任微马旅行社  法人代表）
 </p>
						</div>
					</div>
					<div class="col-md-4 col-sm-6 col-md-offset-2">
						<div class="single-profile-bottom wow fadeInUp" data-wow-duration="1000ms" data-wow-delay="600ms">
							<div class="media">
								<div class="pull-left">
									<a href="#"><img class="media-object" src="statics/images/man4.jpg" alt=""></a>
								</div>
								<div class="media-body">
									<h4>Jhon Doe</h4>
									<h5>Founder and CEO</h5>
									<ul class="tag clearfix">
										<li class="btn"><a href="#">Web</a></li>
										<li class="btn"><a href="#">Ui</a></li>
										<li class="btn"><a href="#">Ux</a></li>
										<li class="btn"><a href="#">Photoshop</a></li>
									</ul>
									<ul class="social_icons">
										<li><a href="#"><i class="fa fa-facebook"></i></a></li>
										<li><a href="#"><i class="fa fa-twitter"></i></a></li> 
										<li><a href="#"><i class="fa fa-google-plus"></i></a></li>
									</ul>
								</div>
							</div><!--/.media -->
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable.</p>
						</div>
					</div>
				</div>	<!--/.row-->
			</div><!--section-->
		</div><!--/.container-->
    </section><!--/about-us-->
	
    <div class="clear"></div>
{template footer}