<!DOCTYPE html>
<html lang="en">
<head>
    <title>{$meta_title}</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="keywords" content="{$meta_keywords}" />
    <meta name="description" content="{$meta_description}" />
	<meta name="author" content="goodman">
	<!-- core CSS -->
    <link href="statics/css/bootstrap.min.css" rel="stylesheet">
    <link href="statics/css/font-awesome.min.css" rel="stylesheet">
    <link href="statics/css/animate.min.css" rel="stylesheet">
    <link href="statics/css/prettyPhoto.css" rel="stylesheet">
    <link href="statics/css/main.css" rel="stylesheet">
    <link href="statics/css/responsive.css" rel="stylesheet">
    <!--[if lt IE 9]>
    <script src="statics/js/html5shiv.js"></script>
    <script src="statics/js/respond.min.js"></script>
    <![endif]-->       
    <link rel="shortcut icon" href="statics/images/ico/favicon.ico">
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="statics/images/ico/apple-touch-icon-144-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="statics/images/ico/apple-touch-icon-114-precomposed.png">
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="statics/images/ico/apple-touch-icon-72-precomposed.png">
    <link rel="apple-touch-icon-precomposed" href="statics/images/ico/apple-touch-icon-57-precomposed.png">
</head><!--/head-->

<body class="homepage">

    <header id="header">
        <div class="top-bar">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-xs-4">
                        <div class="top-number"><p><i class="fa fa-phone-square"></i>  0555-2260888</p></div>
                    </div>
                    <div class="col-sm-6 col-xs-8">
                       <div class="social">
                           <!--  <ul class="social-share">
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li> 
                                <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                                <li><a href="#"><i class="fa fa-skype"></i></a></li>
                            </ul> -->
                            <div class="search">
                             <form role="form">
							<form action="{SITE_URL}index.php" method="get">
							<input type="hidden" name="c" value="content">
							<input type="hidden" name="a" value="search">
							
							<input name="kw"  type="text" class="search-form" autocomplete="off" placeholder="Search"  onblur="if(this.value=='')this.value='Search';" onfocus="if(this.value=='Search')this.value='';" value="Search"/>
						
                                    <i class="fa fa-search" type="button"></i>
                                </form>
                           </div>
                       </div>
                    </div>
                </div>
            </div><!--/.container-->
        </div><!--/.top-bar-->

        <nav class="navbar navbar-inverse" role="banner">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="index.html"><img src="statics/images/logo.png" alt="logo"></a>
                </div>
				
                <div class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li class="active"><a href="{SITE_PATH}">首页</a></li>
                        <li><a href="{SITE_PATH}?c=content&a=list&catid=1">关于我们</a></li>
                        <li><a href="{SITE_PATH}?c=content&a=list&catid=2">服务中心</a></li>
                        <li><a href="{SITE_PATH}?c=content&a=list&catid=3">公司动态</a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown">新媒体中心<i class="fa fa-angle-down"></i></a>
                            <ul class="dropdown-menu">
                                <li><a href="{SITE_PATH}?c=content&a=list&catid=6">微马网</a></li>
                                <li><a href="{SITE_PATH}?c=content&a=list&catid=6">微信营销</a></li>
                                <li><a href="{SITE_PATH}?c=content&a=list&catid=6">影视设计</a></li>
                               <li><a href="{SITE_PATH}?c=content&a=list&catid=6">微马直播</a></li>
							   
                            </ul>
                        </li>
                        <li><a href="{SITE_PATH}?c=content&a=show&id=7">加入我们</a></li> 
                        <li><a href="{SITE_PATH}?c=content&a=list&catid=4">联系我们</a></li>                        
                    </ul>
                </div>
            </div><!--/.container-->
        </nav><!--/nav-->
		
    </header><!--/header-->