{template header}
		<div id="lists">
		<div class="container fadeInDown">
			<div class="topimg"><img src="images/ads/top.jpg" ></div>
				<ol class="breadcrumb">
			  <li> <span class="glyphicon glyphicon-home"></span><a href="#">首页</a></li>
			  <li><a href="#">新闻中心</a></li>
			  <li class="active">十一月</li>
			</ol>
			<div class="listbox left">
		
		<ul class="list-group">
					<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
					<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
						<li  class="list-group-item"><a  href="/index.php/info/428.html" target="_blank" title="安徽省广告协会会长座谈会在马鞍山举行"><span class="glyphicon glyphicon-info-sign"></span>安徽省广告协会会长座谈会在马鞍山举行</a><span class="float_right">2016-04-21</span></li>
					<!--循环结束-->
				</ul>
               <div class="clear"></div>
                    <!-- 页码-->
                    <div class="s_page">
						<ul class="pagination">
						  <li><a href="#">&laquo;</a></li>
						  <li><a href="#">1</a></li>
						  <li><a href="#">2</a></li>
						  <li><a href="#">3</a></li>
						  <li><a href="#">4</a></li>
						  <li><a href="#">5</a></li>
						  <li><a href="#">&raquo;</a></li>
						</ul>
	
                    </div>
                                            
			</div>
			<div class="list_right_bar left">
				<div> <img src="statics/images/ads/hlw.jpg"></div>
				<div> <img src="statics/images/ads/gup.jpg"></div>
			</div>
			
		</div>

		</div> <!-- list结束-->
	
	     <div class="clear"></div>
{template footer}