{template header}
    <section id="feature" class="transparent-bg">
        <div class="container">
           <div class="center wow fadeInDown">
                <h2>Our Services</h2>
                <p class="lead">公司已拥有“中国著名品牌策划机构”等5项国字号荣誉资质，有4人获得“中国十大广告传媒策划专家”等国字号专家称号，公司被授予区级纳税贡献企业、市级诚信民营企业、省级守合同重信用先进单位、全国诚信企业创建单位等区级至国家级先进荣誉称号50余项。</p>
            </div>

            <div class="row">
                <div class="features">
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-bullhorn"></i>
                            <h2>报媒广告发布</h2>
                            <h3>安徽日报、南京晨报、金陵晚报、扬子晚报</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-comments"></i>
                            <h2>新媒体营销</h2>
                            <h3>微信公众号平台建设、推广、O2O电商平台的搭建与制作</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cloud-download"></i>
                            <h2>微马网</h2>
                            <h3>本地主流门户网站，最快速最便捷的资讯信息和活动服务</h3>
                        </div>
                    </div><!--/.col-md-4-->
                
                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-leaf"></i>
                            <h2>影视制作</h2>
                            <h3>商务片、宣传片、节目采访、讲座论坛、展会博览摄像</h3>
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-cogs"></i>
							<h2>网站建设、代维</h2>
                            <h3>为您量身定制适合自己的互联网形象，完整的传达您的卖点</h3>
                            
                        </div>
                    </div><!--/.col-md-4-->

                    <div class="col-md-4 col-sm-6 wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
                        <div class="feature-wrap">
                            <i class="fa fa-heart"></i>
                            <h2>活动策划、产品推广</h2>
                            <h3>专业团队+靠谱方案+落地执行=完美推广</h3>
                        </div>
                    </div><!--/.col-md-4-->
                </div><!--/.services-->
            </div><!--/.row--> 


            <div class="get-started center wow fadeInDown">
                <h2>Ready to get started</h2>
                <p class="lead">    中国一级广告企业，“新三板”上市公司。公司成立于2004年，注册资本688万，主要从事环境艺术和企业形象等设计、制作，代理发布各类广告和销售房地产及推广新产品，活动组织策划，研发销售计算机软件等电子产品，互联网信息服务，网络建设，新媒体营销、影视制作等</p>
                <div class="request">
                    <h4><a href="#">Request a free Quote</a></h4>
                </div>
            </div><!--/.get-started-->

            <div class="clients-area center wow fadeInDown">
                <h2>What our client says</h2>
                <p class="lead">为客户创造价值是每一个海洋风人不变的工作宗旨。</p>
            </div>

            <div class="row">
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="statics/images/client1.png" class="img-circle" alt="">
                        <h3>海洋风的整体整合效果是本地区最强的！</h3>
                        <h4><span>-王强 /</span>马鞍山万达</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="statics/images/client2.png" class="img-circle" alt="">
                        <h3>新媒体营销我选择海洋风</h3>
                        <h4><span>-黄梦园/</span> 科达新能源</h4>
                    </div>
                </div>
                <div class="col-md-4 wow fadeInDown">
                    <div class="clients-comments text-center">
                        <img src="statics/images/client3.png" class="img-circle" alt="">
                        <h3>一点资讯安徽地区首选合作合作伙伴</h3>
                        <h4><span>-John Doe /</span>  一点资讯</h4>
                    </div>
                </div>
           </div>

        </div><!--/.container-->
    </section><!--/#feature-->

    <div class="clear"></div>
{template footer}