    <section id="bottom">
        <div class="container wow fadeInDown" data-wow-duration="1000ms" data-wow-delay="600ms">
            <div class="row">
                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Company</h3>
                        <ul>
                            <li><a href="#">关于我们</a></li>
                            <li><a href="#">加入我们</a></li>
                            <li><a href="#">团队介绍</a></li>
                            <li><a href="#">在线咨询</a></li>
                            <li><a href="#">企业文化</a></li> 
   							<li><a href="#">资质证书</a></li>  
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Support</h3>
                        <ul>
                            <li><a href="#">报媒发布</a></li>
                            <li><a href="#">活动营销</a></li>
                            <li><a href="#">微信营销</a></li>
                            <li><a href="#">影视制作</a></li>
                            <li><a href="#">产品推广</a></li>
                            <li><a href="#">户外广告</a></li>
                            <li><a href="#">网站制作</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Developers</h3>
                        <ul>
                            <li><a href="#">中国一级广告企业</a></li>
                            <li><a href="#">新三板上市企业</a></li>
                            <li><a href="#">证券代码：831772</a></li>
                            <li><a href="#">海洋风文化传媒</a></li>
                         
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->

                <div class="col-md-3 col-sm-6">
                    <div class="widget">
                        <h3>Friends</h3>
                        <ul>
                            <li><a href="#">微马网</a></li>
                            <li><a href="#">乐微微信</a></li>
                            <li><a href="#">影视制作</a></li>
                            <li><a href="#">长运集团</a></li>
                            <li><a href="#">科达机电</a></li>
                            <li><a href="#">扬子晚报</a></li>
                            <li><a href="#">南京晨报</a></li>
                        </ul>
                    </div>    
                </div><!--/.col-md-3-->
            </div>
        </div>
    </section><!--/#bottom-->

    <footer id="footer" class="midnight-blue">
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    Copyright &copy;2004-2016.海洋风文化传媒. All rights reserved.
                </div>
                <div class="col-sm-6">
                    <ul class="pull-right">
                        <li><a href="#">首页</a></li>
                        <li><a href="#">关于我们</a></li>
                        <li><a href="#">商务合作</a></li>
                        <li><a href="#">联系我们</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </footer><!--/#footer-->

    <script src="http://apps.bdimg.com/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="statics/js/bootstrap.min.js"></script>
    <script src="statics/js/jquery.prettyPhoto.js"></script>
    <script src="statics/js/jquery.isotope.min.js"></script>
    <script src="statics/js/main.js"></script>
    <script src="statics/js/wow.min.js"></script>
</body>
</html>