{template header}
    <section id="portfolio">
        <div class="container">
            <div class="center">
               <h2>新媒体中心</h2>
               <p class="lead">“海洋风正一帆悬”，向往着美好愿景，海洋风人在不断耕耘，拼搏进取。</p>
            </div>
        

            <ul class="portfolio-filter text-center">
                <li><a class="btn btn-default active" href="#" data-filter=".wmw">微马网</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".wx">微信营销</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".yssj">影视设计</a></li>
                <li><a class="btn btn-default" href="#" data-filter=".live">微马直播</a></li>
            </ul><!--/#portfolio-filter-->

            <div class="row">
                <div class="portfolio-items">
				
                    <div class="portfolio-item wmw col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="statics/images/portfolio/recent/item1.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="http://www.weimasq.com">微马网</a></h3>
                                    <p>本地主流门户网站，最快捷的资讯信息和活动服务</p>
                                    <a class="preview" href="tatics/images/portfolio/full/item1.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla wx col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="statics/images/portfolio/recent/item2.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="http://www.hyf.so">微信营销</a></h3>
                                    <p>马鞍山微信开发，马鞍山微信公众平台，马鞍山微信第三方平台，马鞍山微信游戏</p>
                                    <a class="preview" href="statics/images/portfolio/full/item2.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>          
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item yssj col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="statics/images/portfolio/recent/item3.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="http://mp.weimasq.so">影视设计</a></h3>
                                    <p>微马影视设计服务</p>
                                    <a class="preview" href="statics/images/portfolio/full/item3.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>        
                    </div><!--/.portfolio-item-->

                    <div class="portfolio-item joomla live apps col-xs-12 col-sm-4 col-md-3">
                        <div class="recent-work-wrap">
                            <img class="img-responsive" src="statics/images/portfolio/recent/item4.png" alt="">
                            <div class="overlay">
                                <div class="recent-work-inner">
                                    <h3><a href="#">微马直播</a></h3>
                                    <p>There are many variations of passages of Lorem Ipsum available, but the majority</p>
                                    <a class="preview" href="statics/images/portfolio/full/item4.png" rel="prettyPhoto"><i class="fa fa-eye"></i> View</a>
                                </div> 
                            </div>
                        </div>           
                    </div><!--/.portfolio-item-->
          
                 
                </div>
            </div>
        </div>
    </section><!--/#portfolio-item-->
	     <div class="clear"></div>
{template footer}